service variant-script /system/bin/variant-script.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

# Set SELinux to Permissive
on early-init
    write /sys/fs/selinux/enforce 0

on early-fs
    write /proc/sys/walt/sched_lib_name "recovery,magiskboot,Updater,updater,update_engine_sideload"
    write /proc/sys/walt/sched_lib_mask_force 255

on init
    start boot-hal-1-2

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

# Symlink Flashlight
on fs
    wait /sys/class/leds/led:torch/brightness
    symlink /sys/class/leds/led:torch/brightness /system/etc/flashlight/brightness

on fs
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    install_keyring

on boot
    start variant-script
    setprop sys.usb.config adb

on property:twrp.modules.loaded=true
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery
    start health-hal-2-1
    umount /firmware

# Haptic feedback
on property:twrp.modules.loaded=true
    write /sys/class/leds/vibrator/trigger transient
    start vibratorfeature-hal-service
